[Unit]
Description=specter
After=network.target

StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=exec
ExecStart=@SPECTER_BIN@ run --config @SPECTER_CONF@
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5

User=@SPECTER_USER@
Group=@SPECTER_GROUP@

RuntimeDirectory=specter
RuntimeDirectoryMode=0700

StandardOutput=journal
StandardError=journal

NoNewPrivileges=true
ProtectSystem=full
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictNamespaces=true
RestrictRealtime=true
LockPersonality=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
